<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2></h2>
                <p></p>
                <a href="#" class="btn btn-default btn-lg">Visite nossa página</a>
            </div>
        </div>
    </div>
</section>