<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">ScheduleBot<span class="glyphicon glyphicon-object-align-right" aria-hidden="true"></span></h1>
                    <p class="intro-text">Um BOT de agendamentos pelo Messenger do Facebook<br>Integrado com um WEBSITE para administração</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>